<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDxFrDGGp5pjBHwaocPFWxTPBa1uESk4_E</string>
	<key>GCM_SENDER_ID</key>
	<string>177767206690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LH.FriendFocus</string>
	<key>PROJECT_ID</key>
	<string>friendfocus-5bf6f</string>
	<key>STORAGE_BUCKET</key>
	<string>friendfocus-5bf6f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177767206690:ios:0eb2b576086a355542df7b</string>
</dict>
</plist>